/* Imagem de fundo padrão (para desktops e tablets) */
body {
    background-image: url('img/background-pergunta1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

/* Estilos para o conteúdo */
.conteudo {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
