body {
    background-image: url('img/background-inicio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao {
    margin-top: 110%;

    & button {
        background: linear-gradient(135deg, #e63946, #f77f00); /* Gradiente natalino */
        color: #fff; /* Cor do texto */
        font-size: 1.5rem; /* Tamanho do texto */
        font-weight: bold; /* Texto em negrito */
        padding: 15px 30px; /* Espaçamento interno */
        border: none; /* Sem borda padrão */
        border-radius: 25px; /* Bordas arredondadas */
        cursor: pointer; /* Cursor ao passar o mouse */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra suave */
        transition: all 0.3s ease; /* Animação de hover */
    }
}

.botao button:hover {
  background: linear-gradient(135deg, #fcbf49, #f77f00); /* Mudança de cor no hover */
  transform: scale(1.1); /* Aumenta o botão */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra mais intensa */
}

.botao button:active {
  transform: scale(0.95); /* Botão "afunda" ao clicar */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Sombra reduzida */
}